$font-inter: 'Inter', sans-serif;
$font-orbitron: 'Orbitron', sans-serif;
$font-muller: 'Muller', sans-serif;

$text-white: #fff;
$text-seawave: #183d4c;
$text-green: #38ab96;
$text-green-opacity: rgba(56, 171, 150, 0.4);
$text-darkgreen: #12323f;

$header-bottom-bg: rgba(18, 50, 63, 0.85);
$header-top-bg: #12323f;
$form-input-bg: rgba(25, 62, 77, 0.15);

$ui-green: #38ab96;
$ui-green-hover: #268171;
$ui-orange: #d75941;
$ui-seawave: #193e4d;
$ui-seawave-hover: #35515d;

$ui-black: #000;
$ui-gray: #6b6b6b;
$ui-navy: #3d4a6f;
$ui-white: #fff;
$ui-darkgreen: #04715d;
